body {
    background-color: rgb(101, 152, 168);
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    color: #333333;
}

.stButton>button {
    background-color: #5058ae;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.stButton>button:hover {
    background-color: #5058ae;
}

.stNumberInput>input {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.stMarkdown {
    color: #333333;
}
