body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1, h2 {
    color: #333333;
}

.stButton>button {
    background-color: #5058ae;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.stButton>button:hover {
    background-color: #5058ae;
}

.stNumberInput>input {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.stMarkdown {
    color: #333333;
}
